# Folders
__pycache__/
.cache/
input/
output/
temp_resume_data/

# Python junk
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.bak
*.swp

# Venvs
.venv/
venv/
env/
ENV/
.env

# IDEs & editors
.idea/
.vscode/

# OS & package managers
.DS_Store
